<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | {{ page.subtitle }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans"  type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body class="blue lighten-2">
        <div class="container">
            <div class="valign-wrapper full-height white-text">
                <div class="row">
                    <div class="col s12">
                        <h1 class="center-align">{{ page.title }}</h1>
                    </div>
                    <div class="col s12">
                        <h2 class="center-align">{{ page.subtitle }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer blue lighten-2">
            <div class="container center-align">
                <a href="https://github.com/chrisw-devops"><i class="fab fa-github footer-link"></i></a>
                <a href="mailto:me@cwilliams.io"><i class="fas fa-envelope footer-link"></i></a>
            </div>
        </footer>
    </body>
</html>